body {
	background-color: white;
	padding: 0%;
	margin:  0%;
}

div {
	padding: 0.5%;
	font-family: verdana;
}

h1 {
	font-family: verdana;
	font-size: 160%;
}

p {
font-family: verdana;
font-size: 100%;
}

li:not(:last-child) { 
  margin-bottom: 1.5%;  
}

.column {
  float: left;
  width: 50%;
}

.topnav {
  background-color: #FF6B6B;
  overflow: hidden;
  padding: 0% 0% 0% 0%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.topnav a:hover > .icon {
	filter:brightness(1.0)
}

.icon {
	/*height: 1em;*/
	filter:brightness(0.0)
}

#profile_pic {
	float:right;
	border-radius:50%; 
	padding:3%;
	max-width: 32%; 
	height: auto;
}

#gallery {
   line-height:0;
   -webkit-column-count:5; /* split it into 5 columns */
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:5;
   column-gap:5px;
}

#gallery img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px;  /* to match column gap */
}

.project {
            margin: 0;
            position: relative;
        }

.description {
            position: absolute;
            line-height: 20px;
			      top: 40%;
            left: 50%;
		      	transform: translate(-50%, -50%);
            text-align: center;

            color:white;
            visibility:hidden;
        }


.project :hover {
	filter:brightness(0.3);
}

.project :hover + .description {
	visibility:visible;
}

a {
  text-decoration:none;
}